* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 100%;
}

/* Layout */
.container {
    width: 75% ;
    margin: 0 auto;
    background-color: #ffffff;
}

.header {
    height: 4em;
    /* background-color: #e579e6; */
    margin: 10px auto 15px;
}

.section-1 {
    margin-bottom: 15px;
    height: 20em;
}

.section-2 {
    margin-bottom: 5px;
    height: 35em;
}

.footer {
    text-align: center;
    margin-bottom: 1em;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* Colonne */
.float{
    float: left;
}

[class^="column"] {
    height: 19em;
}

.column-sx {
    width: 25%;
    margin: 15px 10px 15px 0;
}

.column-mid {
    width: calc(50% - 20px);
    margin: 15px 0;
}

.column-dx  {
    width: 25%;
    margin: 15px 0 15px 10px;
}

.logo {
    height: 4em;
    border-right: 1px solid lightgray;
    padding-right: 1em;
}

nav > a {
    text-decoration: none;
    font-size: small;
    color: #d7d7d7;
}

ul#menu li {
    display: inline;
    color: #c2c2c2;
    font-size: x-small;
}

#menu {
    margin-bottom: 2em;
}

.section-1-background {
    background-image: url(../img/banner.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.section-1-content {
    width: 60%;
    padding-top: 12em;
    padding-left: 2em;
    color: #ffffff;
}

.transparency-section-1 {
    background-color: rgba(0, 0, 0, 0.5);
    height: 20em;
    border-radius: 10px;
}

.title-large {
    font-size: large;
}

.section-2-title {
    font-size: xx-large;
}

.paragraph {
    font-size: small;
}

.paragraph-color {
    color: #c2c2c2;
}

/* column settings */
.column-common-background{
    background-position: top;
    background-repeat: no-repeat;
    height: 14em;
    background-size: auto 100%;
    border-radius: 10px;
}

.column-sx-background {
    background-image: url(../img/img-1.jpg);
}

.column-dx-background {
    background-image: url(../img/img-3.jpg);
}


.column-mid-background {
    background-image: url(../img/banner-2.jpg);
}

.transparency-section-2 {
    background-color: rgba(0, 0, 0, 0.5);
    height: 14em;
    border-radius: 10px;
}

.heart {
    color: red;
}